POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_CLIENTS=
POSTGRES_DB_TRANSACTIONS=
POSTGRES_CLIENTS_PORT=
POSTGRES_TRANSACTIONS_PORT=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_AMQP_PORT=
RABBITMQ_MGMT_PORT=
RABBITMQ_URL=

NODE_ENV=
CLIENTS_PORT=
TRANSACTIONS_PORT=
CLIENTS_SERVICE_URL=
