NODE_ENV=

POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_HOST=
REDIS_PORT=

POSTGRES_DB_CLIENTS=
POSTGRES_CLIENTS_PORT=
DATABASE_URL_CLIENTS=

DATABASE_URL_TRANSACTIONS=

CLIENTS_SERVICE_URL=
CLIENTS_PORT=
TRANSACTIONS_PORT=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_BUCKET_URL=

RABBITMQ_URL=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_AMQP_PORT=
RABBITMQ_MGMT_PORT=
